* {
	margin: 0;
	padding: 0;
	border: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.body {
	background-image: url("../img/connect.png");
	font-family: 'Asap', sans-serif;
	font-size: 1.2rem;
	color: #111;
}

.header {
	background-color: rgba(32, 32, 32, 0.8);
	color: #eee;
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
}

.header .logo {
	margin: 3px 10px 0px 5px;
	float:left;
}

.nav {

	height: 38px;
}

.nav ul {
	list-style: none;
	margin-right: 37px;
}

.navEl {
    display: inline-block;
	margin-top: 7px;
	margin-right: 5px;
	margin-left: 5px;
}

.navEl a:link, .navEl a:visited {
	color: #eee;
	text-decoration: none;
}

.hidden_link {
	color: #111;
	text-decoration: none;
}

.separate {
	display: inline-block;
	margin: 0 10px 0 15px;
}

#mosaic .tile {
	width: 2px;
	height: 2px;
}

.small_1 {font-size: 80%;}
.small_2 {font-size: 70%;}
.small_3 {font-size: 60%;}
.small_4 {font-size: 50%;}
.small_5 {font-size: 40%;}
.small_6 {font-size: 30%;}

.content p {
	margin: 1% auto 2% auto;
	width: 95%;
	text-align: justify;
}

#random_text {
	font-size: 70%;
	width: 80%;
}

.content .button {
	text-align: center;
	width: 100%;
	font-size: 150%;
	background-color: rgba(32, 32, 32, 0.8);
	color: #eee;
	padding-top: 2px;
	padding-bottom: 5px;
}

.button_real {
	cursor: pointer;
}
