body {
  background-color: #eee;
  color: #101010;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content p {
  font-size: 3.5vmin;
}

.portfolio-list .link {
  margin-left: 10px;
  font-size: 3.5vmin;
}

.portfolio-list .header {
  font-size: 5vmin;
  margin-top: 3%;
}
