.body {
	font-family: 'Asap', sans-serif;
	font-size: 1.2rem;
	color: #111;
	height: 100%;
	background-color: #ccc;
}

.wrapper {
	width: 85%;
	background-color: #eee;
	margin: 0 auto;
	display: block;
}

.header {
	color: #111;
	position: relative;
	z-index: 1;
}

.navEl a:link, .navEl a:visited {
	color: inherit;
}

.title .h3  a:link, .title .h3 a:visited {
	color: #88e;
	text-decoration: none;
}

.title-wrapper {
	width: 100%;
	height: 50vh;
}

.title-wrapper p {
	text-align: center !important;
}

.title-wrapper-small p {
	text-align: center !important;
}

.title {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.content p {
	margin: 1% auto 2% auto;
	width: 95%;
	text-align: justify;
}

.dark-bg {
	background: url("../img/pixels.png");
	background-size: 100%;
	background-repeat: none;
	color: #eee;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.header-img {
	width: 480px;
	height: 320px;
	display: block;
	margin: 0 auto;
}

.selector {
	text-align: center;
	margin: 1% 0;
}

.selector-img {
	width: 96px;
	height: 64px;
	margin: 0 20px;
}
